*{
    margin: 0%;
    padding: 0%;
    background-color: blueviolet;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    width: 40%;
    font-size: 2rem;
    padding: 10px;
    margin: 3rem;
}

.box-item{
    background-color: rgba(228, 122, 255, 0.5);
    border: 2px solid black;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}

.equal{
    grid-row: 2/6;
    grid-column-end: 5;
    background-color: rgb(216, 148, 124);
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}